@use '../../../styles/vars';

.item-card__footer {
  
  &__skill {
    &-list{
      display: flex;
      flex-wrap: wrap;
      gap: vars.$gap-s;
    }
    &-tag {
      background-color: vars.$white;
      color: vars.$dark-grey;
      border: none;
      border-radius: vars.$radius-m;
      padding: vars.$gap-xs vars.$gap-s;
    }
  }
}