@use '../../../styles/vars';

.sharpness {
  box-sizing: content-box;
  height: 10px;
  width: 70%;
  max-width: 150px;
  border: solid vars.$grey;
  display: flex;
  &-red {
    background-color: red;
    height: inherit;
    width: 30px;
  }
  &-orange {
    background-color: orange;
    height: inherit;
    width: 20px;
  }
  &-yellow {
    background-color: yellow;
    height: inherit;
    width: 15px;
  }
  &-green {
    background-color: green;
    height: inherit;
    width: 30px;
  }
  &-blue {
    background-color: blue;
    height: inherit;
    width: 20px;
  }
  &-white {
    background-color: white;
    height: inherit;
    width: 15px;
  }
  &-purple {
    background-color: purple;
    height: inherit;
    width: 10px;
  }

}