.main-loadout {
  width: 100%;
}

.cardsContainer {
    
    display:flex;
    flex-direction: column;
    object-fit: contain;
    background-color: #D7CCC8;
    height: 40vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.loadouts {
    
    &-search{
    display:flex;
    flex-direction: column;
    object-fit: contain;
    background-color: #D7CCC8;
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    &_title{
      text-align: center;
      color:rgb(68, 68, 68);
      font-size:50px;
      padding-top: 1em;
    }
    &__description {
        margin-top: 2em;
        margin-bottom: 1em;
        color: rgb(0, 0, 0);
        font-size: 15px;
    }
}


&-searchbar {

    display:flex;
    flex-direction: center;
    

}
&-btn {

    margin-top: 1em;
}
    }

    @media (max-width: 769px){

        .loadouts {
    
            &-container{
            display:flex;
            flex-direction: column;
            object-fit: contain;
            background-color: #D7CCC8;
            height: 70vh;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
        
        &-h1{
        
            color:rgb(68, 68, 68);
            font-size:30px;
            padding-top: 1em;
        }
        
        &-p {
        
            margin-top: 2em;
            margin-bottom: 1em;
            color: rgb(0, 0, 0);
            font-size: 10px;
        }
        &-searchbar {
        
            display:flex;
            flex-direction: center;
            
        
        }
        &-btn {
        
            margin-top: 1em;
        }
            }
    }

    .loadouts {
    
    &-filters {
    display:flex;
    flex-direction: column;
    object-fit: contain;
    background-color: rgb(255, 255, 255);
    height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: center;

        &-btn{
            
            display: flex;
    
        
        }   
        &-name{
            
            margin-left: 0.5em;
    }
        &-rated{
            margin-left: 0.5em;
    }
        &-latest{
            margin-left: 0.5em;
    }


}

&-searchbar{

    margin-top: 1em;

}
}