$primary: #8e6851;
$white : #fff;
$light-grey : #5f6769;
$grey : #313738;
$dark-grey : #1a1f23;
$blue: #125376;

$icon-width: 2rem;
$header-height: 8rem;
$gap-s: .5rem;
$gap-m: 1rem;
$gap-l: 1.5rem;
$radius-m: 10px;
$radius-l: 20px;
