$primary: #8e6851;
$grey : #313738;
$light-grey : #5f6769;
$white : #fff;
$blue: #125376;
$container : #1a1f23;

$header-height: 8rem;
$gap-s: .5rem;
$gap-m: 1rem;
$gap-l: 1.5rem;
$radius-m: 10px;
$radius-l: 20px;
