body {
    font-family: 'Noto Sans', sans-serif;
    background-color: aqua;
  }

  .container {
    width: 96%;
    max-width: 70em;
    margin: 0 auto;
    
  }
  
.header__part {
    border-bottom: var(--border-normal);
    background-color: red;
  }

.header__flex {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
  }

.profile {
    display: flex;
    align-items:flex-end;
    background-color: brown;

}

.logo {
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    font-size: 1.5em;
  }
  
.logo__image {
    margin-right: 0.5rem;
  }

.menu {
    display: flex;
    align-items: center;
    background-color: blueviolet;
  }

.menu__item {
    margin-right: 1rem;
    background-color: yellow;
  }

.header__part {
    border-bottom: var(--border-normal);
  }
  
.main__content {
    display: flex;
    justify-content:center;
    align-items:flex-start;
    background-color: aliceblue;

}
.content__items {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1rem;
  }

.content__stats {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1rem;
  }
.content__skills {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1rem;
  }