@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
  background-color: vars.$grey;
}

.main {
  color: vars.$white;
}
.is-inactive {
  display: none !important;
}

.is-active {
  display: block !important;
}