.secondSection {

    &-container {
        display: flex;
        flex-direction: row;
    }
}



.communityBuild {


    &-container {
        background-color: rgb(255, 255, 255);
        height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-container-text {
        width: 75%;

        >*:not(:last-child) {
            margin-bottom: 15px;
        }
    }


    &-h1 {

        color: rgb(0, 0, 0);
        font-size: 30px;

    }

    &-p {

        color: rgb(0, 0, 0);
        font-size: 15px;

    }

}

.lastestBuild {
    &-container {
        background-color: white;
        height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-container-widget {
        display: flex;
        flex-direction: column;
        max-height: 75%;
        background-color: rgb(162, 122, 124);
        width: 75%;


    }

    &-h1 {

        color: black;
        font-size: 30px;
        background-color: lightgray;
        padding: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

    }

    &-loadouts {
        >*:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &-loadouts-p {

        color: rgb(0, 0, 0);
        font-size: 15px;
        border-top: solid 1px black;

    }
}

@media (max-width: 769px) {

    .secondSection {

        &-container {
            display: flex;
            flex-direction: column;
        }
    }

    .communityBuild {

        &-container-text {}




        &-h1 {

            color: black;
            font-size: 20px;

        }

    }

    .lastestBuild {
        &-container {
            background-color: white;
            height: 50vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }


        &-h1 {

            color: black;
            font-size: 20px;
            margin-top: -50px;

        }


    }

}

//     @media (min-width: 769px) and (max-width: 1280px) {

//         .secondSection{

//             &-container{
//                 display:flex;
//                 flex-direction: column;
//             }
//             }

//         .communityBuild{


//             &-container{
//                 background-color: white;
//                 display: flex;
//                 flex-direction: column;
//                 align-items: center;
//                 justify-content: center;
//                 }


//                 &-h1{

//                     color:black;
//                     font-size:30px;
//                     margin-top: -50px;

//                 }

//         }

//         .lastestBuild{
//             &-container{
//                 background-color: white;
//                 height: 50vh;
//                 width: 100%;
//                 display: flex;
//                 flex-direction: column;
//                 align-items: center;
//                 justify-content: center;
//                 }


//                 &-h1{

//                     color:black;
//                     font-size:30px;
//                     margin-top: -50px;

//                 }

//     }

// }