:root {
  --bg-color : #313738;
  --title : #fff;
  --primary: #8e6851;
}

body {
  box-sizing: border-box;
  background-color: var(--bg-color);
  margin: 0;
}

.header {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  background-color: var(--bg-color);
  position: relative;
  padding: 1rem;
  border-bottom: solid 1px;
}

.header__main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 1.5rem;
  display: block;
  width: 10rem;
}

.header__profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .5rem;
}

.header__logo {
  margin: 1rem;
  height: 3rem;
  width: 3rem;
}

a {
  color: var(--title);
  text-decoration: none;
}

.header__button-menu {
  height: 2rem;
  margin-right: 1rem;
}

.menu {
  position: absolute;
  top: 10rem;
  left: 0;
  background-color: #5f6769;
  width: 100%;
  display: none;
}

.menu ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: .5rem 0;
  margin: 0;
  text-align: center;
}

.menu li:hover {
  background-color: var(--primary);
}

.menu li a {
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  display: block;
  padding-top : .7rem;
  padding-bottom : .7rem;
}


@media (min-width : 769px) {
  .header__button-menu {
    display: none;
  }
  .header__logo {
    display: block;
  }

  .menu{
    position: unset;
    display: block;
    width: 70%;
    background-color: transparent;
  }

  .menu ul {
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }
  .menu li {
    width: 200px;
    text-align: center;
  }
  .menu li:last-child {
    border-left: solid 2px var(--title);
  }
  
}

@media (min-width : 1920px){
  body {
    margin: auto
  }
}

