

.container {
    
display:flex;
flex-direction: column;
object-fit: contain;

}

.goTobuilder{
    display:flex;
    flex-direction: column;
    background-color: black;
    padding-bottom: 5em;
    align-items: center;
    object-fit: contain;
    // background: url('nergi_home.jpg');
    // background: url('../../assets/images/nergi_home.jpg');
    //background-repeat: round no-repeat;

    &-h1{
        
        color: white;
        font-size: 50px;
        margin-top : 1em;
        margin-bottom: 0.3em;
    }

    &-p{

        display:flex;
        align-items: center;

        margin-top:1em;
        color: white;
        font-size: 1em;
        margin-bottom: 0.4em;
    }

        &-btn-button{
            
            --button_radius: 0.75em;
            --button_color: #e8e8e8;
            --button_outline_color: #b11f1f;
            font-size: 17px;
            font-weight: bold;
             border: none;
 }
 
}
.communityBuild{
    background-color: white;
    display:flex;
    flex-wrap: nowrap;
 
    &-main{

        align-items: center;
        justify-content: center;
        padding-left: 1em;
        padding-top: 3em;
    }
    
   
    &-h1{
        color: rgb(31, 46, 114);
        font-size: 30px;
        
    }

    &-p{
        margin-top: 1em;
    }

    &-btn{
        margin-top: 1em;
    }

    &__lastestBuild{

        display:flex;
        background-color: rgb(255, 166, 0);
        padding-top: 3em;
        height: 40vh;
        flex-direction: column;
        align-items: center;
        object-fit: contain;
           
    }
    
    &__lastestBuild-h1{

        color: rgb(31, 46, 114);
        font-size: 30px;
        
    }
    
    &__lastestBuild-p{

        margin-top: 1em;
        margin-left: 1em;
        padding-left: 1em;
    }
   
}

.discord{
    display:flex;
    background-color: #ed9a34;
    height: 30vh;
    display:flex;
    flex-direction: column;
    align-items: center;
   object-fit: contain;

   &-h1{
    color: rgb(31, 46, 114);
    font-size: 30px;

   }

}

.lastestUpdate{

    display:flex;
    background-color: grey;
    height: 40vh;
    display:flex;
    flex-direction: column;
    align-items: center;
   object-fit: contain;

   &-p{
    color:black;
   }


}
