

.main {
    
display:flex;
flex-direction: column;
object-fit: contain;

}

.goTobuilder{
    display:flex;
    flex-direction: column;
    background-color: black;
    padding-bottom: 5em;
    align-items: center;
    object-fit: contain;

    &-h2{
        
        color: rgb(148, 28, 28);
        font-size: 50px;
        margin-top : 1em;
        margin-bottom: 0.3em;
    }

    &-p{

        display:flex;
        align-items: center;

        margin-top:1em;
        color: white;
        font-size: 1em;
        margin-bottom: 0.4em;
    }

        &-btn-button{
            
            --button_radius: 0.75em;
            --button_color: #e8e8e8;
            --button_outline_color: #b11f1f;
            font-size: 17px;
            font-weight: bold;
             border: none;
 }
 
}

//? Code de kevin, à prendre modifier ou supprimer en fonction de toi
// .goToBuilder {

//     &-container{
//     // background-color: rgb(223, 163, 33);
//     background-image: url('./../../assets/mhsb_background.jpg');
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     flex-direction: column;
//         align-items: center;
//         justify-content: center;
//     }

//     &-container-text{
//         width: 50%;
//         margin: 10vh auto;
//         > *:not(:last-child) {
//             margin-bottom: 15px;
//         }
//     }


//     &-h1{
//         color:white;
//         font-size:24px;
//     }

//     &-p {
//         color: white;
//         font-size: 18px;
//     }
// }

// @media (max-width: 769px) {
//     .goToBuilder{

//         &-container-text{
//             width: 75%;
//         }
    
//     }
// }



//========================
//? COMMUNITY
//========================


//TODO A coller ton code scss ici si tu en a besoin, puis supprimer le dossier component/Main quand t'en a plus besoin



//========================
//? COMMUNITY
//========================


.communityBuild{
    background-color: white;
    display:flex;
    flex-wrap: nowrap;
 
    &-main{

        align-items: center;
        justify-content: center;
        padding-left: 1em;
        padding-top: 3em;
    }
    
   
    &-h2{
        color: rgb(31, 46, 114);
        font-size: 30px;
        
    }

    &-p{
        margin-top: 1em;
    }

    &-btn{
        margin-top: 1em;
    }

    &__lastestBuild{

        display:flex;
        background-color: rgb(255, 166, 0);
        padding-top: 3em;
        height: 40vh;
        flex-direction: column;
        align-items: center;
        object-fit: contain;
           
    }
    
    &__lastestBuild-h1{

        color: rgb(31, 46, 114);
        font-size: 30px;
        
    }
    
    &__lastestBuild-p{

        margin-top: 1em;
        margin-left: 1em;
        padding-left: 1em;
    }
   
}


//=====================
//? DISCORD
//====================

.discord{
    display:flex;
    background-color: #ed9a34;
    height: 30vh;
    display:flex;
    flex-direction: column;
    align-items: center;
   object-fit: contain;

   &-h1{
    color: rgb(31, 46, 114);
    font-size: 30px;

   }

}

//? Code de kevin, à prendre modifier ou supprimer en fonction de toi
// .discord{

//     &-container{
//         background-color: rgb(223, 163, 33);
//         height: 40vh;
//         width: 100%;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
// }

// &-h1{

//         color:rgb(0, 0, 0);
//         font-size:30px;
//         margin-top: -50px;

//     }

//     &-p {

//         margin-top: 8px;
//         color: black;
//         font-size: 22px;
//     }

// }


.lastestUpdate{

    display:flex;
    background-color: grey;
    height: 40vh;
    display:flex;
    flex-direction: column;
    align-items: center;
   object-fit: contain;

   &-p{
    color:black;
   }


}

//? Code de kevin, à prendre modifier ou supprimer en fonction de toi
// .latestUpdate{

// &-container{
//     background-color: white;
//     height: 40vh;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     }

//     &-h1{

//         color:rgb(0, 0, 0);
//         font-size:30px;
//         margin-top: -50px;

//     }

//     &-p {

//         margin-top: 8px;
//         color: black;
//         font-size: 15px;
//     }


// }