:root {
  --bg-color : #313738;
  --text : #fff;
  --primary: #8e6851;
}

body {
  background-color: var(--bg-color);
  width: 100vw;
  margin: auto;
  max-width: 1920px;
}

.main {
    max-width: 1920px;

}
.section-introduction {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 10rem);
  min-height: 500px;
  width: 100%;
  /* padding-top: 3rem; */
}
.section-introduction p {
  color: var(--text);
  display: block;
  width : 80%;
  max-width: 660px;
  /* height: 60%; */
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
}
.section-introduction__link {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}
.section-introduction__button {
  padding: .5rem;
  width: 70vw;
  max-width: 380px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10px;
}
button.builder {
  background-color: var(--primary);
  border: var(--text) solid;
  color: var(--text);
}
button.loadout {
  background-color: var(--text) ;
  border: var(--primary) solid;
  color: var(--primary);
}

.section-carousels {
  height: calc(100vh - 4rem);
}

.footer {
  height: 4rem;
  border-top: solid 2px var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
}

@media (min-width: 769px) {
  .section-introduction__link {
    flex-direction: row;
  }
  .section-introduction__button {
    max-width: 450px;
    width: 40vw
  }
}