.loadouts {
    
    &-filters {
    display:flex;
    flex-direction: column;
    object-fit: contain;
    background-color: rgb(255, 255, 255);
    height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: center;

        &-btn{
            
            display: flex;
    
        
        }   
        &-name{
            
            margin-left: 0.5em;
    }
        &-rated{
            margin-left: 0.5em;
    }
        &-latest{
            margin-left: 0.5em;
    }


}

&-searchbar{

    margin-top: 1em;

}
}